body {
    background-color: #f4f4f4;
}

#dashboardContainer {
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#welcomeMessage {
    text-align: center;
    margin-bottom: 30px;
}

#creditCard {
    text-align: center;
    margin-bottom: 30px;
}

#creditCard img {
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s;
}

#creditCard img:hover {
    transform: scale(1.05);
}

#chargeSummary {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-align:center;
}

#chargeSummary div {
    width: 45%;
}

#chargeSummary h2 {
    color: #007bff;
}

#chargeSummary p {
    font-size: 20px;
    color: #333;
}

.card, #birthdayCoupon {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9f7fe;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2, #birthdayCoupon h2 {
    color: #0056b3;
}

.card p, #birthdayCoupon p {
    color: #555;
}

.card button, #birthdayCoupon button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.card button:hover, #birthdayCoupon button:hover {
    background-color: #0056b3;
}

#logoutButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #d93636;
}

#recommendations {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    text-align: left; 
    line-height: 1.6;
}
