body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Added to stack the content vertically */
}

#cardContainer {
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center content horizontally */
}

#monthSelectorContainer {
    text-align: center;
    margin-bottom: 20px;
}

#transactionsTableContainer {
    margin-top: 40px;
    width: 100%; /* Ensure it takes full width of the container */
    display: flex;
    justify-content: center; /* Center the table horizontally */
}

#transactionsTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    max-width: 900px; /* Limit the width of the table */
}

#transactionsTable th,
#transactionsTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#transactionsTable th {
    background-color: #f0f0f0;
    color: #007bff;
}

#transactionsTable tr:hover {
    background-color: #f9f9f9;
}

#monthSelector {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-top: 20px;
}

#monthSelector:focus {
    outline-color: #007bff;
}

.card {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9f7fe;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    color: #0056b3;
}

.card p {
    color: #555;
}

.card button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}

@media screen and (max-width:480px) {
    h1 {
        margin-top: 180px;
    }

    th, td {
        padding: 3px;
        font-size: 14px;
    }
    #transactionsTable th, #transactionsTable td{
        padding:3px;
    }
}